In [59]:
import pandas as pd
import numpy as np

In [60]:
# Load dataset with appropriate encoding
file_path = "2018-personal-property-list.csv"
df = pd.read_csv(file_path, encoding='latin1')

/var/folders/wm/3j20np153f92h_05z976byhh0000gn/T/ipykernel_87489/728736243.py:3: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='latin1')

In [61]:
# Drop unnecessary unnamed columns
df = df.loc[:, ~df.columns.str.contains('Unnamed')]

In [62]:
# Trim whitespace from column names, replace spaces with underscores, and convert to upper case
df.columns = df.columns.str.strip().str.replace(' ', '_').str.upper().str.replace('/', '_OR_')
df

,AGENCY_CODE,STATE_AGENCY,PROPERTY_TYPE,PROPERTY_CLASSIFICATION,PROPERTY_NAME,DATE_ACQUIRED_OR_INSTALLED,VALUE_OR_COST,IT_OR_NON-IT
0,10.0,OSU-STILLWATER,Personal Property,Owned,"Data Terminal, Ti (S Cint. Ctr) Mdl 700as",08/15/77,20600.0,IT
1,10.0,OSU-STILLWATER,Personal Property,Owned,Hp Graphics Translat Or,08/07/81,9328.93,IT
2,10.0,OSU-STILLWATER,Personal Property,Owned,Single Channel Ekg Printer/Recorder,05/26/82,5625.0,IT
3,10.0,OSU-STILLWATER,Personal Property,Owned,4643596 Typewriter S Electric Iii,12/15/82,913.8,IT
4,10.0,OSU-STILLWATER,Personal Property,Owned,Software Composition Of Tatex From 83-96,09/12/83,97880.55,IT
...,...,...,...,...,...,...,...,...
234601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# Handle missing values: Drop rows where essential columns are missing
essential_cols = ["AGENCY_CODE", "STATE_AGENCY", "PROPERTY_NAME", "VALUE_OR_COST", "DATE_ACQUIRED_OR_INSTALLED"]
df.dropna(subset=essential_cols, inplace=True)

In [64]:
# Clean 'VALUE_OR_COST' column by removing extra spaces and converting to numeric
df['VALUE_OR_COST'] = df['VALUE_OR_COST'].astype(str).str.strip().replace('[\$,]', '', regex=True)
df['VALUE_OR_COST'] = pd.to_numeric(df['VALUE_OR_COST'], errors='coerce')

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
/var/folders/wm/3j20np153f92h_05z976byhh0000gn/T/ipykernel_87489/768682255.py:2: SyntaxWarning: invalid escape sequence '\$'
  df['VALUE_OR_COST'] = df['VALUE_OR_COST'].astype(str).str.strip().replace('[\$,]', '', regex=True)

In [65]:
# Standardize 'DATE_ACQUIRED_OR_INSTALLED' format
df['DATE_ACQUIRED_OR_INSTALLED'] = pd.to_datetime(df['DATE_ACQUIRED_OR_INSTALLED'], errors='coerce')

/var/folders/wm/3j20np153f92h_05z976byhh0000gn/T/ipykernel_87489/671247462.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DATE_ACQUIRED_OR_INSTALLED'] = pd.to_datetime(df['DATE_ACQUIRED_OR_INSTALLED'], errors='coerce')

In [66]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [67]:
# Drop 'YEAR' column if it exists
df.drop(columns=['YEAR', 'COUNT'], errors='ignore', inplace=True)

In [68]:
# Normalize text columns
df['STATE_AGENCY'] = df['STATE_AGENCY'].str.upper().str.strip()
df['PROPERTY_NAME'] = df['PROPERTY_NAME'].str.title().str.strip()

In [69]:
# Validate 'IT_OR_NON-IT' column
df['IT_OR_NON-IT'] = df['IT_OR_NON-IT'].str.upper().replace({'IT': 'IT', 'NON-IT': 'NON-IT'})
df['IT_OR_NON-IT'] = df['IT_OR_NON-IT'].apply(lambda x: x if x in ['IT', 'NON-IT'] else np.nan)

In [70]:
# Save the cleaned dataset
df.to_csv("2018_cleaned_personal_property_list.csv", index=False)

In [71]:
# Display cleaned dataset
df.head()

,AGENCY_CODE,STATE_AGENCY,PROPERTY_TYPE,PROPERTY_CLASSIFICATION,PROPERTY_NAME,DATE_ACQUIRED_OR_INSTALLED,VALUE_OR_COST,IT_OR_NON-IT
0,10.0,OSU-STILLWATER,Personal Property,Owned,"Data Terminal, Ti (S Cint. Ctr) Mdl 700As",1977-08-15,20600.00,IT
1,10.0,OSU-STILLWATER,Personal Property,Owned,Hp Graphics Translat Or,1981-08-07,9328.93,IT
2,10.0,OSU-STILLWATER,Personal Property,Owned,Single Channel Ekg Printer/Recorder,1982-05-26,5625.00,IT
3,10.0,OSU-STILLWATER,Personal Property,Owned,4643596 Typewriter S Electric Iii,1982-12-15,913.80,IT
4,10.0,OSU-STILLWATER,Personal Property,Owned,Software Composition Of Tatex From 83-96,1983-09-12,97880.55,IT